<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONSUMIR API USER</title>
</head>
<body>
    <h1 style="text-align:center;">INSERIR, ALTERAR OU DELETAR USUARIO</h1>
    <div style="display: flex; flex-direction:column; gap: 15px;">      
        
        <div style="margin:0 auto;">
            <label for="">name</label>
            <input type="text" name="" id="name" required>
        </div>
        <div style="margin:0 auto;">
            <label for="">cpf</label>
            <input type="text" name="" id="cpf" required>
        </div>
        <div style="margin:0 auto;">
            <label for="">birthdate</label>
            <input type="date" name="" id="birthdate" required>
        </div>

        <div style="margin:0 auto;">
            <label for="">email</label>
            <input type="text" name="" id="email" required>
        </div>

        <div style="margin:0 auto;">
            <label for="">password</label>
            <input type="password" name="" id="password" minlength="6" required>
        </div>

        <div style="margin:0 auto;">
            <label for="">address</label>
            <input type="text" name="" id="address" required>
        </div>

        <div style="margin:0 auto;">
            <label for="">number</label>
            <input type="text" name="" id="number" required>
        </div>

        <div style="margin:0 auto;">
            <label for="">complement</label>
            <input type="text" name="" id="complement" required>
        </div>

        <div style="margin:0 auto;">
            <label for="">city</label>
            <input type="text" name="" id="city" required>
        </div>

        <div style="margin:0 auto;">
            <label for="">state</label>
            <input type="text" name="" id="state" required>
        </div>
        <div style="margin:0 auto;">
            <label for="">country</label>
            <input type="text" name="" id="country" required>
        </div>

        <div style="margin:0 auto;">
            <label for="">zipCode</label>
            <input type="text" name="" id="zipCode" required>
        </div>
        <div style="max-width: 325px; margin: 0 auto;">
            <div  style="display: flex; gap: 20px;">
            <button style="padding: 20px 5; background-color: green; cursor: pointer;" onclick="userService.AddUser()">Inserir</button>
            <div  style="display: flex; gap: 20px;">
            <button  style="padding: 20px 5; background-color: green; cursor: pointer;" onclick="userService.UpdateUser()">Alterar</button>
            <button  style="padding: 20px 5; background-color: green; cursor: pointer;" onclick="userService.DeleteUser()">Deletar</button>
            <input type="text" name="" id="idUsuario">
            </div>
            </div>
        </div>
        <div>

        
    </div>  
    </div>
    <center>
    <h1>VER USUÁRIOS</h1>
    <div style="margin-bottom: 10px;">
     <label for="" >Id</label>
    <input type="text" name="" id="buscarPorId">
    </div>
    <div style="margin-bottom: 10px;">
        <label for="" >Pagina</label>
       <input type="text" name="" id="buscarPorPagina">
       </div>
    <button onclick="userService.GetUsers()" style="padding: 20px 5; background-color: green; cursor: pointer;">VER JSON DE USUARIOS NO CONSOLE</button>
    </center>
</body>
<script  src="../dist/services/userService.js"></script>
<script>
    var userService = new UserService()
</script>
</html>