<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONSUMIR API USER</title>
</head>
<body>
    <h1 style="text-align:center;">INSERIR USUARIO</h1>
    <div style="max-width: 900px; margin: 0 auto; display: flex; flex-direction:column; gap: 15px;justify-content: center;">      
        <div>
            <label for="">name</label>
            <input type="text" name="" id="name">
        </div>
        <div>
            <label for="">cpf</label>
            <input type="text" name="" id="cpf">
        </div>
        <div>
            <label for="">birthdate</label>
            <input type="date" name="" id="birthdate">
        </div>
        
        <div>
            <label for="">email</label>
            <input type="text" name="" id="email">
        </div>

        <div>
            <label for="">password</label>
            <input type="password" name="" id="password">
        </div>

        <div>
            <label for="">address</label>
            <input type="text" name="" id="address">
        </div>

        <div>
            <label for="">number</label>
            <input type="text" name="" id="number">
        </div>

        <div>
            <label for="">complement</label>
            <input type="text" name="" id="complement">
        </div>

        <div>
            <label for="">city</label>
            <input type="text" name="" id="city">
        </div>

        <div>
            <label for="">state</label>
            <input type="text" name="" id="state">
        </div>
        <div>
            <label for="">country</label>
            <input type="text" name="" id="country">
        </div>

        <div>
            <label for="">zipCode</label>
            <input type="text" name="" id="zipCode">
        </div>

        <div>
        <button style="padding: 20px 5; background-color: green; cursor: pointer;">Inserir</button>
        <button></button>
    </div>  
    </div>
    
</body>
</html>